# Node.js & package managers
node_modules
/package

# sveltekit & vite build options
/build
/.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Environment secrets and config
.env
.env.*
!.env.example

# Local db
src-tauri/resources/dictionary.db

# Android development  & signing keys
**/gen/android/local.properties
**/gen/android/keystore.properties
**/gen/android/key.properties
**/gen/android/**/build/
**/gen/android/build/
**/gen/android/.gradle/
**/gen/android/.idea/
**/gen/android/.cxx/
**/gen/android/app/src/main/jniLibs/
**/gen/android/app/src/main/assets/tauri.conf.json
**/gen/android/*.jks
**/gen/android/*.keystore

# IDEs and editors
/.idea/
/.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
.Spellchecker/
.DS_Store
*Zone.Identifier

# General
*.xml